.register-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  font-family: "Croissant One", cursive;
}

.register-logo-container {
  display: flex;
  align-items: center;
}

.register-logo-container img {
  height: 300px;
}

.register-logo-and-form {
  display: flex;
  justify-content: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  border: 2px solid #507946;
  padding: 40px;
}

.register-form h3 {
  font-size: 40px;
}

.register-label,
.register-label input {
  font-size: 30px;
}

.register-label {
  margin: 5px;
}

.register-label input {
  margin-left: 15px;
  width: 90%;
}

.register-button {
  background-color: #507946;
  color: white;
  border-radius: 4px;
  padding: 7px;
  font-family: "Croissant One", cursive;
  font-size: 18px;
  width: 30%;
  margin: 10px auto;
}

@media screen and (max-width: 600px) {
  .register-logo-and-form {
    flex-direction: column;
    align-items: center;
  }

  .register-logo-container img {
    height: 250px;
  }

  .register-form {
    /* padding: 20px; */
    padding: 10px;
  }

  .register-form h3 {
    font-size: 30px;
  }

  .register-label,
  .register-label input {
    /* font-size: 25px; */
    font-size: 18px;
  }

  .register-label input {
    margin: 10px;
  }
}

@media screen and (max-width: 350px) {
  .register-logo-and-form {
    flex-direction: column;
    align-items: center;
  }

  .register-form {
    width: 80vw;
  }

  .github {
    margin-left: 4px;
  }

  .register-button {
    font-size: 14px;
    width: 30%;
  }
}

@media screen and (max-width: 300px) {
  .register-button {
    font-size: 14px;
    width: 50%;
  }
}
