.landing-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  font-family: "Croissant One", cursive;
}
.landing-logo-container {
  display: flex;
}

.landing-text {
  border: 2px solid #507946;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-right: 50px;
}

.welcome {
  font-size: 50px;
}

.landing-blurb {
  font-size: 32px;
}

.come-on-in {
  font-size: 24px;
  color: #507946;
}

.landing-images-container {
  display: flex;
  flex-direction: row;
}

.landing-image {
  padding: 25px;
}

.ficus,
.pothos {
  max-height: 300px;
}

.monstera {
  width: 300px;
}

.landing-login-button {
  background-color: #507946;
  color: white;
  border-radius: 4px;
  padding: 7px;
  font-family: "Croissant One", cursive;
  font-size: 18px;
}

.footer {
  width: 100%;
  margin: 20px auto;
  color: #507946;
}

.landing-buttons {
  font-size: 22px;
}

.landing-buttons a {
  color: black;
  font-weight: bold;
}

.landing-buttons a:link {
  color: black;
  text-decoration: none;
}

.landing-buttons a:hover {
  color: green;
}

@media screen and (max-width: 720px) {
  .landing-images-container {
    flex-direction: column;
  }

  .landing-text {
    order: 1;
    margin: 0 50px;
  }

  .welcome {
    font-size: 40px;
  }

  .landing-blurb {
    font-size: 28px;
  }

  .landing-images {
    order: 2;
  }
}

@media screen and (max-width: 600px) {
  .welcome {
    font-size: 32px;
  }

  .landing-blurb {
    font-size: 25px;
    font-weight: none;
  }

  .landing-images {
    order: 2;
  }
}

@media screen and (max-width: 350px) {
  .landing-logo-container {
    justify-content: center;
  }

  .welcome {
    font-size: 28px;
  }

  .landing-blurb {
    font-size: 20px;
    font-weight: none;
  }

  .come-on-in {
    font-size: 18px;
  }

  .login-cta {
    font-size: 18px;
    margin-top: 40px;
  }
}
