.boards-main-container {
  display: flex;
  flex-direction: column;
}

.boards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boards-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boards-title a {
  color: black;
}

.board-name {
  font-size: 30px;
}

.indiv-board-container {
  padding: 0 35px;
}

.indiv-board-container a {
  color: black;
  text-decoration: none;
}

.board-image {
  border: 1px solid #507946;
  border-radius: 15px;
  height: 300px;
}
