.mapped-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.mapped-details p {
  color: #385531;
}

.bd-action-buttons {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.add-post-button,
.delete-board-button,
.edit-board-button {
  background-color: white;
  border: none;
  font-family: "Croissant One", cursive;
  font-size: 16px;
}

.add-post-button:hover,
.delete-board-button:hover,
.edit-board-button:hover {
  cursor: pointer;
}

.detail-title {
  color: #385531;
}

.indiv-detail-container a {
  color: black;
  text-decoration: none;
}

.indiv-detail-container a:link {
  color: black;
}

.indiv-detail-container a:visited {
  color: black;
}

.indiv-detail-container a:hover {
  color: green;
}

.post-image {
  max-height: 300px;
  max-width: 300px;
  margin: 0 30px;
  border: solid 1px #507946;
  border-radius: 15px;
}
